/* CSS CONTENTS */

/*
1: Website Typography
2: Bootstrap Menus
3: Hero blocks general
4: Hero blocks with background image
5: Hero blocks with background video
6: Introduction text block
7: Contact form
*/

/* =========== 1: WEBSITE TYPOGRAPHY ============= 
font-family: 'Bodoni Moda', serif;
font-family: 'Fraunces', serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Scheherazade', serif;
font-family: 'Katibeh', cursive;
font-family: 'Lateef', cursive;

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

font-family: 'Dr Sugiyama', cursive;

font-family: 'Montez', cursive;
font-family: 'Satisfy', cursive;
*/

html {
    overflow: hidden
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: scroll!important;
    overflow-x: hidden!important
}

.container-fluid {
    padding: 0px 0px 0px 0px!important
}

/* Main headings */

h1 {
    font-family: sans-serif
}

/* Sub-headings */

h2 {
    font-family: sans-serif
}

/* Smaller sub-headings */

h3, h4, h5, h6 {
    font-family: sans-serif
}

/* Text */

p, li {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

/* Menus */

#mainNav .container ul.navbar-nav li a.nav-link, #mainNav li.nav-item a.btn {
    font-family: sans-serif;
}

/* Footer */

footer ul.footer-links li a, footer a.privacy-legal {
    font-family: sans-serif
}

/* =========== 2: BOOTSTRAP MENUS ============= */


.sidenav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -2px;
    margin-top: 10px;
    background: none;
    height: 0px!important
}

.sidenav .flex-column {
    padding-top: 50px;
    left: -20px;
}

.sidenav .icon-container {
    width: 45px;
    height: 45px;
    background-color: none;
    border: 3px solid #fff;
    border-radius: 7px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5px;
    opacity: 0.9;
    mix-blend-mode: color-dodge;
}

.sidenav .icon-container img {
    position: absolute;
    top: 7px;
    left: 7px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}
.sidenav img[src^="assets/img/home-icon.svg"], .sidenav img[src^="../assets/img/home-icon.svg"] {
    width:60px;
    margin-top:-15px;
    margin-bottom:-5px
}

.sidenav::before {
    content: '';
    height: 10px;
    width: 120px;
    position: absolute;
    left: 37px;
    top: 8px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 0px 3px 3px 0px;
    ;
    mix-blend-mode: color-dodge;
}

.navbar-brand::before {
    content: '➽';
    font-size: 19px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 26px;
    top: -8px;
    font-weight: bold;
    mix-blend-mode: color-dodge;
    cursor: default;
}

.navbar-brand::after {
    content: '➽';
    font-size: 19px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: -103px;
    top: -8px;
    font-weight: bold;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    cursor: default;
}

.navbar-brand {
    position: absolute;
    left: 120px;
    top: 6px;
    margin-left: 8px
}

.navbar-brand h3 {
    font-family: arial;
    font-size: 32px;
    font-family: 'Dr Sugiyama', cursive;
    color: #fff;
    letter-spacing: 0px;
    line-height: 20px;
}

@media (min-width:768px) {
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        
    }
}

/* Menu options: text size and weight */

.sidenav li.nav-item a {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center!important;
    text-transform: uppercase;
}


}

.sidenav li.nav-item:first-child a {
    font-size:12px!important;
    margin-bottom:5px

}

/* Menu options: tablets/desktops */

@media (min-width: 1200px) {
    #mainNav li.nav-item {
        margin-left: 40px
    }
}

/* Menu options: mobiles */

@media (max-width: 1199px) {
    #mainNav li.nav-item {
        margin-bottom: 20px
    }
}

#next1, #next2, #next3 {
    content: '';
    width: 90%!important;
    height: 100px;
    position: absolute;
    bottom: 0px;
    margin:0px 5% 0px 5%!important;
    text-align:center;
    padding-right:2%;
    left:0px
}

#next1 img, #next2 img, #next3 img {box-sizing:content-box;
    width:50px;
    padding: 10px 50px 0px 50px;
    border-top: 5px solid #fff

} 

/* ============== 3: HERO BLOCKS GENERAL ============== */

/* Verically center content and default background colour */

.hero-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    height: 90vh
}

/* Desktop - hero block inside spacing */

@media (min-width:768px) {}

/* Mobiles - hero inside spacing */

@media (max-width:767px) {
    .hero-block {
        margin-bottom: 40px;
        padding: 20% 10%
    }
    .col-md-6.col-xs-12.text-right, .col-md-6.col-xs-12 {
        text-align: center !important
    }
    .col-md-6.col-xs-12:nth-child(1) {
        margin-bottom: 12%
    }
}

/* Center-align headings and sub-headings */

/* Set maximum width of heading snd sub-heading */

/* Desktop - Space beneath headings and sub-headings */

@media (min-width:768px) {
    .hero-block h1 {
        margin-bottom: 4%
    }
    .hero-block h2 {
        margin-bottom: 6%
    }
}

/* Mobiles - Space beneath headings */

@media (max-width:767px) {
    .hero-block h1 {
        margin-bottom: 8%
    }
    .hero-block h2 {
        margin-bottom: 14%
    }
}

/* ====== 4: HERO BLOCK WITH BACKGROUND IMAGE ======= */

/* Centre background image, horizontally and vertically */

.hero-7 {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #a2b8be;
    scroll-snap-align: start;
    height: 100%;
    margin: 0px 0px 0px 0px!important
}


/* Default font settings */

.hero-7 h1 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    padding-top:3%;
    margin-bottom:2%
}

.hero-7 .header {
    top:0px;
    position:absolute;
    margin: 3% 0% 0px 0px!important
}

#intro

.hero-7 h2 {
    color: #fff;
    font-weight: bold;
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1600 - 320)));
    text-align: left;
    margin-left: 20%
}

.hero-7 p {
    color:#fff;
    text-align:left;
    margin-left:1%;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1600 - 320)));
}
/* ======= 5: HERO BLOCKS WITH BACKGROUND VIDEO ======= */

.hero-10 {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #a2b8be;
    scroll-snap-align: start;
    height: 100%;
    margin: 0px 0px 0px 0px!important
}


.header {
    width: 100vw;
    margin-top: 5%;
    padding-left:220px!important;

}

.namediv {
    float: left;
    text-align: left;
    margin-top: 0px;
}

.info {
    float: left;
    width: 40%;
    top: 10%;
    font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1600 - 320)));
    color: white;
    text-align: justify;
    margin-top: 0px;
    margin-left: 5%;
    padding-right:1%;
    height: 40vh;
    overflow: auto;
    overflow-x: auto
}

.dev {
    display: block;
    float: left;
    width: 100%;
    margin-top: 0.5%;
    z-index:100!important
}

.dev h2 {
    margin-left: 0px!important
}

.recent {
    text-align: center;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    background: #f5e1d1;
    height: 100%;

}

.recent .content {
    padding-bottom: 10%;
    top: 0px;
    position: absolute;
    width: 100%;
        display: flex;
        flex-wrap: wrap;

        padding-left:220px!important;
        padding-right:5%;
        margin-top:5%
      }


.recent .content h1 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(40px + (170 - 40) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom:15px
}
img[src^="assets/img/lightbulb.svg"] {
    height: 70px;
    display:inline-block!important

}
.recent span {
    color:#fff;
    font-weight:bold;
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1600 - 320)));
    margin-left:100px;
    margin-top:0px;
    display: inline-block;
    text-align:left

}
.recent .content a {color:#b38e96;}

.recent #projects { width:100%;

}

.portfolio, .portfolio2 {
    top:0px;
    position: relative;
    background: #a2b8be;
    scroll-snap-align: start;
height:100%;
overflow:hidden;
padding-left:220px!important;
padding-right:5%}

.portfolio2 {
    padding-top: 5%!important;
    padding-left:220px!important;
    padding-right:5%
}

    .portfolio h1, .portfolio2 h1 {
        color: #fff;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        line-height: 0.8;
        font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: left;
        margin-top:3%;
        margin-bottom:3%
    }


.col-md-6, .col-md-4 {
    padding: 0px 0px 4% 0px;
    width:33%!important;
    float:left;
}

.portfolio2 {
    padding-top:5%
}
.portfolio .text {
    margin-right:2.5%
}

.col-md-3, .col-md-6, .col-md-4 {
    border-radius: 5px;
    padding: 0px 2% 2% 0px;
    float: left;
    margin: 0px 1% 0px 0px!important;
    z-index:100;;

}

.container-fluid .col-md-4 p {
    color:#fff;
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1600 - 320)))
}
.col-md-3 img, .col-md-6 img, .col-md-4 img {
    border:4px solid white;
    border-radius:5px;
    opacity:0.6;
    transition-duration: 0.5s;


}
.col-md-3 img:hover, .col-md-6 img:hover, .col-md-4 img:hover {
    opacity:1;
transition-duration: 0.5s;
box-shadow: 0px 0px 10px white;

}

.wordpress {
    margin-left:200px;
    padding-right:5%;
    padding-top:2%
}
#wave1, #wave2, #wave3, #wave4 {
    position: absolute;
    left: 0px;
    width: 100vw!important;
    bottom: -10vh;
    z-index: 0!important;
}

/* Optional overlay 
.hero-10 .bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1;
    background-image: linear-gradient(rgba(29,38,113,0.7),rgba(195,55,100,0.3)); 
}*/

/* Desktop - height */

@media (min-width:768px) {
    .hero-10 .background-video-content {
        height: 300px
    }
}

/* Mobiles - height  */

@media (max-width:767px) {
    .hero-10 .background-video-content {
        height: 380px
    }
}

.hero-10 .namediv h1 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(40px + (200 - 40) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}

#name {
    letter-spacing: 4px;
}

#surname {
    line-height: 0.6
}

.hero-10 h2 {
    color: #fff;
    font-weight: bold;
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1600 - 320)));
    text-align: left;
    margin-left: 20%
}

/* Desktop - Space beneath main heading  */

@media (min-width:768px) {
    .hero-10 .background-video-content h1 {
        margin-bottom: 1%
    }
}

/* Mobiles - Space beneath main heading */

@media (max-width:767px) {
    .hero-10 .background-video-content h1 {
        margin-bottom: 8%
    }
}

/* Desktop - button positioning  */

@media (min-width:768px) {
    .hero-10 .col-md-6.col-xs-12:nth-child(1) {
        text-align: right
    }
    .hero-10 .col-md-6.col-xs-12:nth-child(2) {
        text-align: left
    }
}

/* ========== Introduction text block  ============*/

.about {
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    background: #b38e96
}
.about .content {
    padding-bottom: 10%;
    top: 0px;
    position: absolute;
    width: 100%;
        display: flex;
        flex-wrap: wrap;

        padding-left:220px!important;
        padding-right:5%;
        margin-top:5%
      }
    .about h1 {
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      font-weight: normal;
      line-height: 0.8;
      font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
      letter-spacing: 0px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom:2%
    }
/* Desktop */

@media (min-width:768px) {}

/* Mobiles */

@media (max-width:767px) {
    .about{
        padding: 7% 7% 10% 7%
    }
}

.about p {
    font-size: calc(20px + (26 - 20) * ((100vw - 320px)/(1600 - 320)));
    padding-left:5%
}
.about h2 {
    padding-left:5%;
    font-weight:bold;
    color:#fff
}
.about img[src^="assets/img/5.jpg"], .about img[src^="assets/img/6.jpg"]  {
    margin-left:5%;
    opacity:0.7;
    border:none;
    border-radius:3px
}





/* ================= 7: CONTACT FORM ==================*/
.contact {
    background: #a2b8be;
    scroll-snap-align: start;
    margin: 0px 0px 0px 0px!important;
    height:100%
}
.contact h1 {
    color:#fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    margin-top:3%
}
.contact p {
    font-size: calc(12px + (22 - 12) * ((100vw - 320px)/(1600 - 320)));
    color: #fff;
    font-weight:bold
}

#myform {
    background-color: #fff;
    padding: 20px 30px;
    margin-bottom: 40px;
    border-radius:5px
}

#myform label {
    font-weight: bold;
    color:rgb(147, 150, 150)
}

#myform button {
    font-size: large;
    padding: 6px 24px;
    background-color: #8ab2bd;
    border:none
}

#myform .valid-feedback, #myform .invalid-feedback {
    font-size: large
}

.legal {
    position: relative;
    background: #c9c9c9;
    scroll-snap-align: start;
    margin: 0px 0px 0px 0px!important;
    
}

.legal .row {
    margin: 0px 0px 0px 0px;
    padding-left:5%;
    padding-right:5%;
    padding-top:2%
}

.legal p, .legal a, .legal li {
    color:#383737;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px)/(1600 - 320)));
    font-family: 'Lora', serif;
    text-align:justify
}
.legal h3{
    font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1600 - 320)));
    color:rgb(129, 128, 128);
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;

}

.legal h1 {
    color:#fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom:5%

}

/* =============== 8: FOOTER ================== */

/* Outer footer parent container */

#footer {
    position: relative;
    text-align: center;
    color: #fff;
    height: 100vh;
    scroll-snap-align: start;
    background: #a5bdb6;
    overflow: hidden!important;
}

#footer-blue {
    position: relative;
    text-align: center;
    color: #fff;
    height: 30vh;
    scroll-snap-align: start;
    background: #a2b8be!important;
    overflow: hidden!important;
}
#footer-blue .last {padding: 0px 0px 0px 0px}

.last {
    padding-top:10%
}
/* Desktop footer - inside padding  */

@media (min-width:768px) {
    footer {
        padding: 4% 8% 4% 8%
    }
}

/* Mobiles footer - inside padding */

@media (max-width:767px) {
    footer {
        padding: 8% 8% 12% 8%
    }
}

/* Styles for footer background, text, icons and links */

footer h4, footer h5, footer ul.footer-icons li, footer ul.footer-icons li a, footer p, footer p a {
    color: #fff
}

/* Footer headings */

footer h4 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    line-height: 0.8;
    font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0px;
    text-transform: uppercase;
}

footer h2 {
    font-weight: bold;
    color: #fff;
    margin: -10px auto 36px auto;
    font-size: calc(14px + (26 - 14) * ((100vw - 320px)/(1600 - 320))) !important;

}

/* Footer text links and icon links */

footer ul.footer-links {
    text-align: center
}

footer ul.footer-links {
    margin-left: 0
}

footer ul.footer-links, footer ul.footer-icons {
    list-style-type: none
}

footer ul.footer-links, footer ul.footer-icons {
    margin: 0 auto 48px auto;
    padding-left: 0
}

footer ul.footer-links li, footer ul.footer-icons li {
    display: inline-block;
    margin: 0 32px 0 0
}

footer ul.footer-links li:last-child, footer ul.footer-icons li:last-child {
    margin-right: 0
}

/* Footer text links */

footer ul.footer-links li a {
    color: #fff;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
}

footer ul.footer-links li a:link, footer ul.footer-links li a:visited {
    border-bottom-color: transparent;
}

footer ul.footer-links li a:hover, footer ul.footer-links li a:active {
    border-bottom-color: #fff;
}

/* Footer icons */

footer ul.footer-icons li a i {
    text-decoration: none;
    font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
}

footer ul.footer-icons li a:hover, footer ul.footer-icons li a:active {
    color: #fff1e5
}

/* Privacy and legal link */

footer p a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    color: #fff;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

footer p a:link, footer p a:visited {
    color: #fff;
    border-bottom-color: transparent;
}

footer p a:hover, footer p a:active {
    color: #fff;
    border-bottom-color: #fff;
}

a.privacy-legal {
    font-family: sans-serif;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    font-size: calc(14px + (17 - 14) * ((100vw - 320px)/(1600 - 320)));
}

a.privacy-legal:link, a.privacy-legal:visited {
    border-bottom-color: transparent;
}

a.privacy-legal:active, a.privacy-legal:hover {
    border-bottom-color: #fff
}

[class^="ribbon-"] {
    position: fixed;
    margin-bottom: 80px;
    mix-blend-mode: color-burn;
    margin-right: 20px
}

[class^="ribbon-"]:before, [class^="ribbon-"]:after {
    content: "";
    position: absolute;
}

.ribbon-1 {
    width: 110px;
    height: 450px;
    background-color: rgb(177, 177, 177);
    top: 20px;
    left: 42px;
    border-radius: 10px 3px 0px 0px;
    z-index: 1
}

.ribbon-1:after {
    height: 0;
    width: 0;
    border-left: 55px solid rgba(177, 177, 177);
    border-right: 55px solid rgba(177, 177, 177);
    border-bottom: 55px solid transparent;
    bottom: -55px;
}